<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="copyright text-muted">
          Theme By
          <a target="_blank" href="https://github.com/levblanc">Levblanc.</a>
          Inspired By
          <a target="_blank" href="https://github.com/klugjo/hexo-theme-clean-blog">Clean Blog.</a>
          <p class="copyright text-muted">
            Powered By
            <a target="_blank" href="https://hexo.io/">Hexo.</a>
          </p>
      </div>
    </div>
  </div>
</footer>
<!-- After Footer Scripts -->
<%- js('js/highlight.pack.js')%>
  <%- js('js/trianglify.min.js')%>
<%
  var color = ""
  if (page.color) {
    color = page.color
  }
  else {
    color = "BuPu"
  }
%>
    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        var codeBlocks = Array.prototype.slice.call(document.getElementsByTagName('pre'))
        codeBlocks.forEach(function (block, index) {
          hljs.highlightBlock(block);
        });
      });

      var pattern = Trianglify({
        cell_size: 60,
        width: 1920,
        height: 300,
        seed: "<%= page.title %>",
        x_colors: "<%= color %>"
      });

      var data = pattern.png();
      document.getElementsByClassName("site-header")[0].style.backgroundImage = 'url(' + data + ')';
    </script>